<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <img src="../../../assets/logo.svg" alt="logo" />
      <h1>ICFS</h1>
    </div>

    <ul
      nz-menu
      [nzSelectable]="false"
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzOpen nzTitle="{{ activeUser.username }}" nzIcon="user">
        <ul>
          <li [nzDanger]="true" nz-menu-item>credit: {{ activeUser.credit }}</li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter="true">
            <a routerLink="/home">Home</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Access files" nzIcon="appstore">
        <ul>
          <li nz-menu-item nzMatchRouter="true">
            <a routerLink="/explore">Explore</a>
          </li>
          <li nz-menu-item nzMatchRouter="true">
            <a routerLink="/library">Library</a>
          </li>
          <li nz-menu-item nzMatchRouter="true">
            <a routerLink="/uploads">Uploads</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Actions" nzIcon="setting">
        <ul>
          <li nz-menu-item>
            <a (click)="logout()">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
