<div>
  <div nz-row nzJustify="space-around">
    <!-- Explore card -->
    <div nz-col>
      <nz-card style="width:300px;">
        <nz-card-meta nzTitle="Explore" nzDescription="Explore the files uploaded by the community."
          [nzAvatar]="avatarTemplate">
        </nz-card-meta>
        <nz-divider></nz-divider>
        <ng-container *ngFor="let item of types">
          <a nz-row id="explore-rows" nzAlign="middle" nzJustify="space-around" [routerLink]="['/explore', item.value]">
            <span nz-col nzSpan=8>{{item.text}}</span>
            <i nz-col nz-icon nzType={{getIcon(item.value)!.name}} nzTwotoneColor={{getIcon(item.value)!.color}}
              style="font-size: 24px;" nzTheme="twotone"></i>
          </a>
        </ng-container>


      </nz-card>
      <ng-template #avatarTemplate>
        <i nz-icon nzType="appstore" nzTheme="twotone" style="font-size: 24px;" nzTwotoneColor="#52c41a"></i>
      </ng-template>
    </div>

    <!-- Upload card -->
    <div nz-col>
      <app-upload></app-upload>
    </div>

    <!-- myFiles card -->
    <div nz-col>
      <nz-card style="width:300px;">
        <nz-card-meta nzTitle="My Files" nzDescription="Review and modify your files." [nzAvatar]="avatarTemplate2">
        </nz-card-meta>
      </nz-card>
      <ng-template #avatarTemplate2>
        <i nz-icon nzType="folder-open" nzTheme="twotone" style="font-size: 24px;" nzTwotoneColor="#eb2f96"></i>
      </ng-template>
    </div>
  </div>
</div>