<nz-table #filesTable [nzData]="displayData" [nzPageSize]="pageSize" nzTableLayout="fixed" nzLoading={{loading}}>
  <thead>
    <tr>
      <th nzWidth="35px"></th>
      <!-- TYPE -->
      <th [nzSortOrder]="c.type.sortOrder" [nzSortFn]="c.type.sortFn" [nzSortDirections]="c.type.sortDirections"
        [nzFilterMultiple]="c.type.filterMultiple!" [nzFilters]="c.type.listOfFilter!" [nzFilterFn]="c.type.filterFn!">
        {{ c.type.name }}
      </th>
      <!-- NAME -->
      <th colspan="2" [nzSortOrder]="c.name.sortOrder" [nzSortFn]="c.name.sortFn"
        [nzSortDirections]="c.name.sortDirections">
        {{ c.name.name }}
      </th>
      <!-- DATE -->
      <th [nzSortOrder]="c.date.sortOrder" [nzSortFn]="c.date.sortFn" [nzSortDirections]="c.date.sortDirections">
        {{ c.date.name }}
      </th>
      <!-- SIZE -->
      <th nzCustomFilter [nzSortOrder]="c.size.sortOrder" [nzSortFn]="c.size.sortFn"
        [nzSortDirections]="c.size.sortDirections">
        {{ c.size.name }}
        <nz-filter-trigger [(nzVisible)]="sizeFilterVisible" [nzActive]="NotInfinite(ltSize)||NotInfinite(gtSize)"
          [nzDropdownMenu]="menuSize">
          <i nz-icon nzType="filter" nzTheme="fill"></i>
        </nz-filter-trigger>
      </th>
      <!-- RATE -->
      <th nzCustomFilter [nzSortOrder]="c.rate.sortOrder" [nzSortFn]="c.rate.sortFn"
        [nzSortDirections]="c.rate.sortDirections">
        {{ c.rate.name }}
        <nz-filter-trigger [(nzVisible)]="rateFilterVisible" [nzActive]="ltRate<5||gtRate>0"
          [nzDropdownMenu]="menuRate">
          <i nz-icon nzType="filter" nzTheme="fill"></i>
        </nz-filter-trigger>
      </th>
      <!-- DOWNLOADS -->
      <th nzCustomFilter [nzSortOrder]="c.downloads.sortOrder" [nzSortFn]="c.downloads.sortFn"
        [nzSortDirections]="c.downloads.sortDirections">
        {{ c.downloads.name }}
        <nz-filter-trigger [(nzVisible)]="dlsFilterVisible" [nzActive]="NotInfinite(ltDls)||gtDls>0"
          [nzDropdownMenu]="menuDls">
          <i nz-icon nzType="filter" nzTheme="fill"></i>
        </nz-filter-trigger>
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let file of filesTable.data">
      <tr>
        <!-- Description expand -->
        <td [nzExpand]="expandSet.has(file.id)" (nzExpandChange)="onExpandChange(file.id, $event)"></td>
        <!-- TYPE -->
        <td nzAlign="center">
          <i nz-icon nzType={{getIcon(file)?.name}} nzTwotoneColor={{getIcon(file)?.color}} nzTheme="twotone"
            style="font-size: 24px;"></i>
        </td>
        <!-- NAME -->
        <td colspan="2" nz-tooltip>
          {{ file.name + "." + file.extension }}
        </td>
        <!-- DATE -->
        <td>{{ file.uploaded_at.toLocaleDateString()}}</td>
        <!-- SIZE -->
        <td>{{ file.size }} MB</td>
        <!-- RATE -->
        <td nzAlign="center">{{ file.rating }}
          <i nz-icon nzType="star" nzTheme="twotone" nzTwotoneColor="#FFD700"></i>
        </td>
        <!-- DOWNLOADS -->
        <td nzAlign="center">{{ file.downloads }}
          <i nz-icon nzType="down-square" nzTheme="twotone" nzTwotoneColor="#32CD32"></i>
        </td>
      </tr>
      <!-- Description and comments -->
      <tr [nzExpand]="expandSet.has(file.id)">
        <div style="padding:18px;" nz-row nzJustify="space-between">
          <span nz-col style="font-weight: bold;">{{ file.description }}</span>
          <button nz-button [nzType]="'primary'" (click)="showModal(file)">
            <i nz-col nz-icon nzType="download" nzTheme="outline" style="font-size: 18px;"></i>
            Download
          </button>
        </div>
        <div *ngFor="let comment of file.comments">
          <nz-divider></nz-divider>
          <div nz-row nzAlign="top">
            <div nz-col>
              <nz-comment [nzAuthor]="comment.username" [nzDatetime]="getTime(comment.comment_time)">
                <nz-avatar nz-comment-avatar nzIcon="user"></nz-avatar>
                <nz-comment-content>
                  <p>{{ comment.comment_text }}</p>
                </nz-comment-content>
              </nz-comment>
            </div>
            <div nz-col style="padding: 8px;">
              <nz-rate [ngModel]="comment.rating" nzDisabled></nz-rate>
            </div>
          </div>
        </div>
      </tr>
    </ng-container>
  </tbody>
</nz-table>

<!-- Filters -->
<nz-dropdown-menu #menuSize>
  <div class="ant-table-filter-dropdown">
    <div class="filter-box">
      <input type="number" nz-input placeholder="Greater than" [(ngModel)]="gtSize" />
      <input type="number" nz-input placeholder="Less than" [(ngModel)]="ltSize" />
      <button nz-button nzSize="small" nzType="primary" (click)="filterSize()" class="filter-button">
        Filter
      </button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #menuRate>
  <div class="ant-table-filter-dropdown">
    <div class="filter-box">
      <input type="number" nz-input placeholder="Greater than" [(ngModel)]="gtRate" />
      <input type="number" nz-input placeholder="Less than" [(ngModel)]="ltRate" />
      <button nz-button nzSize="small" nzType="primary" (click)="filterRate()" class="filter-button">
        Filter
      </button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #menuDls>
  <div class="ant-table-filter-dropdown">
    <div class="filter-box">
      <input type="number" nz-input placeholder="Greater than" [(ngModel)]="gtDls" />
      <input type="number" nz-input placeholder="Less than" [(ngModel)]="ltDls" />
      <button nz-button nzSize="small" nzType="primary" (click)="filterDls()" class="filter-button">
        Filter
      </button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>