<nz-table #filterTable [nzData]="listOfData" nzTableLayout="fixed">
  <thead>
    <tr>
      <th *ngFor="let column of listOfColumns" [nzSortOrder]="column.sortOrder" [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections">
        {{ column.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of filterTable.data">
      <td>
        <i nz-icon nzType={{getIcon(data)?.name}} nzTwotoneColor={{getIcon(data)?.color}} nzTheme="twotone"
          style="font-size: 24px;"></i>
      </td>
      <td>{{ data.name + "." + data.extension }}</td>
      <td>{{ data.uploader }}</td>
      <td>{{ data.uploaded_at.toLocaleDateString()}}</td>
      <td>{{ data.size }} MB</td>
      <td>{{ data.rating }}
        <i nz-icon nzType="star" nzTheme="twotone" nzTwotoneColor="#FFD700"></i>
      </td>
      <td>{{ data.downloads }}
        <i nz-icon nzType="down-square" nzTheme="twotone" nzTwotoneColor="#32CD32"></i>
      </td>
      <td>
        <i nz-icon nzType="download" nzTheme="outline" style="font-size: 18px;"></i>
      </td>
    </tr>
  </tbody>
</nz-table>
