<nz-table
  #filesTable
  [nzData]="displayData"
  [nzPageSize]="pageSize"
  nzTableLayout="fixed"
  [nzScroll]="{ y: '370px' }"
  nzLoading="{{ loading }}"
>
  <thead>
    <tr>
      <th nzWidth=" 35px"></th>
      <!-- TYPE -->
      <th
        [nzSortOrder]="c.type.sortOrder"
        [nzSortFn]="c.type.sortFn"
        [nzSortDirections]="c.type.sortDirections"
        [nzFilterMultiple]="c.type.filterMultiple!"
        [nzFilters]="c.type.listOfFilter!"
        [nzFilterFn]="c.type.filterFn!"
      >
        {{ c.type.name }}
      </th>
      <!-- NAME -->
      <th
        nzCustomFilter
        colspan="2"
        [nzSortOrder]="c.name.sortOrder"
        [nzSortFn]="c.name.sortFn"
        [nzSortDirections]="c.name.sortDirections"
      >
        {{ c.name.name }}
        <div *ngIf="state === 0">
          <nz-filter-trigger
            [(nzVisible)]="textSearchVisible"
            [nzActive]="textSearchValue.length > 0"
            [nzDropdownMenu]="menuName"
          >
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
        </div>
      </th>
      <!-- DATE -->
      <th
        [nzSortOrder]="c.date.sortOrder"
        [nzSortFn]="c.date.sortFn"
        [nzSortDirections]="c.date.sortDirections"
      >
        {{ c.date.name }}
      </th>
      <!-- SIZE -->
      <th
        nzCustomFilter
        [nzSortOrder]="c.size.sortOrder"
        [nzSortFn]="c.size.sortFn"
        [nzSortDirections]="c.size.sortDirections"
      >
        {{ c.size.name }}
        <nz-filter-trigger
          [(nzVisible)]="sizeFilterVisible"
          [nzActive]="NotInfinite(ltSize) || NotInfinite(gtSize)"
          [nzDropdownMenu]="menuSize"
        >
          <i nz-icon nzType="filter" nzTheme="fill"></i>
        </nz-filter-trigger>
      </th>
      <!-- RATE -->
      <th
        nzCustomFilter
        [nzSortOrder]="c.rate.sortOrder"
        [nzSortFn]="c.rate.sortFn"
        [nzSortDirections]="c.rate.sortDirections"
      >
        {{ c.rate.name }}
        <nz-filter-trigger
          [(nzVisible)]="rateFilterVisible"
          [nzActive]="ltRate < 5 || gtRate > 0"
          [nzDropdownMenu]="menuRate"
        >
          <i nz-icon nzType="filter" nzTheme="fill"></i>
        </nz-filter-trigger>
      </th>
      <!-- DOWNLOADS -->
      <th
        nzCustomFilter
        [nzSortOrder]="c.downloads.sortOrder"
        [nzSortFn]="c.downloads.sortFn"
        [nzSortDirections]="c.downloads.sortDirections"
      >
        {{ c.downloads.name }}
        <nz-filter-trigger
          [(nzVisible)]="dlsFilterVisible"
          [nzActive]="NotInfinite(ltDls) || gtDls > 0"
          [nzDropdownMenu]="menuDls"
        >
          <i nz-icon nzType="filter" nzTheme="fill"></i>
        </nz-filter-trigger>
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let file of filesTable.data">
      <tr>
        <!-- Description expand -->
        <td
          [nzExpand]="expandSet.has(file.id)"
          (nzExpandChange)="onExpandChange(file.id, $event)"
        ></td>
        <!-- TYPE -->
        <td nzAlign="center">
          <i
            nz-icon
            nzType="{{ getIcon(file)?.name }}"
            nzTwotoneColor="{{ getIcon(file)?.color }}"
            nzTheme="twotone"
            style="font-size: 24px"
          ></i>
        </td>
        <!-- NAME -->
        <td colspan="2" nz-tooltip>
          {{ file.name + "." + file.extension }}
        </td>
        <!-- DATE -->
        <td>
          {{ file.uploaded_at.toLocaleDateString() }}
        </td>
        <!-- SIZE -->
        <td>{{ file.size }} MB</td>
        <!-- RATE -->
        <td nzAlign="center">
          {{ file.rating }}
          <i nz-icon nzType="star" nzTheme="twotone" nzTwotoneColor="#FFD700"></i>
        </td>
        <!-- DOWNLOADS -->
        <td nzAlign="center">
          {{ file.downloads }}
          <i nz-icon nzType="down-square" nzTheme="twotone" nzTwotoneColor="#32CD32"></i>
        </td>
      </tr>
      <!-- Description and comments -->
      <tr [nzExpand]="expandSet.has(file.id)">
        <div style="padding: 18px" nz-row nzJustify="space-between">
          <span nz-col style="font-weight: bold">{{ file.description }}</span>
          <div>
            <button
              *ngIf="state > 0"
              style="margin-right: 3px"
              nz-button
              [nzType]="'primary'"
              (click)="navigateToContent(file.cid)"
            >
              <i nz-col nz-icon nzType="folder-view" nzTheme="outline" style="font-size: 18px"></i>
              view
            </button>

            <button
              *ngIf="state > 0"
              nz-button
              [nzType]="'primary'"
              (click)="showDeleteModal(file)"
            >
              <i nz-col nz-icon nzType="delete" nzTheme="outline" style="font-size: 18px"></i>
              delete
            </button>

            <button
              *ngIf="state == 0"
              nz-button
              [nzType]="'primary'"
              (click)="showDownloadModal(file)"
            >
              <i nz-col nz-icon nzType="download" nzTheme="outline" style="font-size: 18px"></i>
              add to library
            </button>
          </div>
        </div>

        <div *ngFor="let comment of file.comments">
          <nz-divider></nz-divider>
          <div nz-row nzAlign="top">
            <div nz-col>
              <nz-comment
                [nzAuthor]="comment.username"
                [nzDatetime]="getTime(comment.comment_time)"
              >
                <nz-avatar nz-comment-avatar nzIcon="user"></nz-avatar>
                <nz-comment-content>
                  <p>
                    {{ comment.comment_text }}
                  </p>
                </nz-comment-content>
              </nz-comment>
            </div>
            <div nz-col style="padding: 8px">
              <nz-rate [ngModel]="comment.rating" nzDisabled></nz-rate>
            </div>
          </div>
        </div>

        <div *ngIf="state == 1">
          <nz-divider></nz-divider>
          <h3>Write a Review:</h3>
          <nz-comment>
            <nz-avatar nz-comment-avatar nzIcon="user"></nz-avatar>
            <nz-comment-content>
              <nz-form-item>
                <textarea [(ngModel)]="commentText" nz-input rows="4"></textarea>
              </nz-form-item>
              <div nz-row nzJustify="space-between">
                <span>
                  Select Rating:
                  <nz-rate [(ngModel)]="userRating" nzAllowHalf></nz-rate>
                </span>
                <nz-form-item>
                  <button
                    nz-button
                    nzType="primary"
                    [nzLoading]="submitting"
                    [disabled]="commentText.length === 0 || userRating === 0"
                    (click)="submitReview(file.id)"
                  >
                    Submit
                  </button>
                </nz-form-item>
              </div>
            </nz-comment-content>
          </nz-comment>
        </div>
      </tr>
    </ng-container>
  </tbody>
</nz-table>

<!-- Filters -->
<nz-dropdown-menu #menuSize>
  <div class="ant-table-filter-dropdown">
    <div class="filter-box">
      <input type="number" nz-input placeholder="Greater than" [(ngModel)]="gtSize" />
      <input type="number" nz-input placeholder="Less than" [(ngModel)]="ltSize" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="filterSize()"
        class="filter-button"
      >
        Filter
      </button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #menuRate>
  <div class="ant-table-filter-dropdown">
    <div class="filter-box">
      <input type="number" nz-input placeholder="Greater than" [(ngModel)]="gtRate" />
      <input type="number" nz-input placeholder="Less than" [(ngModel)]="ltRate" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="filterRate()"
        class="filter-button"
      >
        Filter
      </button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #menuDls>
  <div class="ant-table-filter-dropdown">
    <div class="filter-box">
      <input type="number" nz-input placeholder="Greater than" [(ngModel)]="gtDls" />
      <input type="number" nz-input placeholder="Less than" [(ngModel)]="ltDls" />
      <button nz-button nzSize="small" nzType="primary" (click)="filterDls()" class="filter-button">
        Filter
      </button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #menuName>
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input
        type="text"
        nz-input
        placeholder="Text search name,desc"
        [(ngModel)]="textSearchValue"
      />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="textSearch()"
        class="search-button"
      >
        Search
      </button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>
