<nz-card style="width: 300px">
  <nz-card-meta
    nzTitle="Upload"
    [nzAvatar]="avatarTemplate"
    nzDescription="Upload files to gain credit. You also gain bonus credit for every download on your files."
  >
  </nz-card-meta>

  <nz-divider></nz-divider>

  <div nz-row nzJustify="center">
    <nz-upload nzType="drag" [nzMultiple]="false" [nzBeforeUpload]="beforeUpload">
      <p class="ant-upload-drag-icon">
        <i nz-icon nzType="inbox"></i>
      </p>
      <p class="ant-upload-text">Click or drag file to this area to upload</p>
    </nz-upload>
  </div>

  <div nz-row>
    <nz-tag
      style="margin-top: 5px"
      *ngIf="fileInfo.size"
      [nzColor]="tagColor"
      nzMode="closeable"
      (nzOnClose)="onClose()"
    >
      {{ fileInfo.name + "." + fileInfo.extension | slice: 0:40 }}
    </nz-tag>
  </div>

  <div nz-row>
    <nz-collapse nzGhost>
      <nz-collapse-panel
        nzHeader="Description:"
        [nzDisabled]="!fileInfo.size"
        [nzActive]="fileInfo.size !== 0"
      >
        <textarea
          [disabled]="!fileInfo.size"
          [(ngModel)]="descText"
          nz-input
          placeholder="Enter a brief description for this file"
          [nzAutosize]="{ minRows: 3, maxRows: 6 }"
        ></textarea>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
  <div nz-row nzJustify="center">
    <button
      style="margin-right: 16px"
      nz-button
      [nzType]="'primary'"
      (click)="handleUpload()"
      [disabled]="!fileInfo.size || !descText.length"
    >
      <i nz-icon nzType="upload" nzTheme="outline" style="font-size: 18px"></i>
      Upload to IPFS!
    </button>
  </div>
</nz-card>

<ng-template #avatarTemplate>
  <i nz-icon nzType="file-add" nzTheme="twotone" style="font-size: 24px"></i>
</ng-template>
