<nz-card style="width:300px;">
  <nz-card-meta nzTitle="Upload" [nzAvatar]="avatarTemplate"
    nzDescription="Upload files to gain credit. You also gain bonus credit for every download on your files.">
  </nz-card-meta>

  <nz-divider></nz-divider>

  <!-- <nz-upload nzType="drag" [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
    <p class="ant-upload-drag-icon">
      <i nz-icon nzType="inbox"></i>
    </p>
    <p class="ant-upload-text">Click or drag file to this area to upload</p>
  </nz-upload> -->

  <div (click)="openDialog()">
    <p class="ant-upload-drag-icon">
      <i nz-icon nzType="inbox"></i>
    </p>
    <p class="ant-upload-text">Click or drag file to this area to upload</p>
  </div>

  <!-- Description collapse -->
  <nz-collapse *ngIf="fileList.length > 0" nzGhost>
    <nz-collapse-panel nzHeader="Description:" [nzActive]="'true'" [nzDisabled]="fileList.length==0">
      <textarea [(ngModel)]="descText" nz-input placeholder="Enter a brief description for this file to continue"
        [nzAutosize]="{ minRows: 3, maxRows: 6 }"></textarea>
    </nz-collapse-panel>
    <div nz-row nzJustify="end">
      <button style="margin-right: 16px;" nz-button [nzType]="'primary'" (click)="handleUpload()"
        [disabled]="fileList.length == 0 || descText.length == 0">
        <i nz-icon nzType="upload" nzTheme="outline" style="font-size: 18px;"></i>
        Upload File
      </button>
    </div>
  </nz-collapse>
</nz-card>

<ng-template #avatarTemplate>
  <i nz-icon nzType="file-add" nzTheme="twotone" style="font-size: 24px;"></i>
</ng-template>